@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.prose {
  max-width: 100%;
}

.prose h3 {
  @apply text-lg font-bold mt-4 mb-2;
}

.prose ul {
  @apply list-disc pl-5 mb-4;
}

.prose li {
  @apply mb-1;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#role:active{
  border: 2px solid blue;
}